/* General Styles */
.App {
  background-color: #fff7db;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: transparent; /* Hintergrund transparent */
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  box-shadow: none; /* Schatten entfernen */
  z-index: 1000;
}

.menu-icon {
  width: 24px;
  height: 24px;
  color: black; /* Farbe des Icons sicherstellen */
  padding-right: 5%;
}

/* Section 1 */
.section1 {
  height: 100vh;
  background-color: #fff7db;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.chat-container {
  text-align: center;
}

.label {
  width: 100%;
  font-size: 27px;
  margin-bottom: 10px;
  display: block;
}


.label-container {
  text-align: left;
}
/* Section 2 */
.section2 {
  position: relative;
  padding: 50px 20px;
  background-color: #fff5cf;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Hinzugefügt, um die Elemente oben auszurichten */
  min-height: 411px; /* Mindesthöhe auf die Höhe des Bildes setzen */
}

.about-me {
  flex: 1;
}

.about-me-intro {
  flex: 2; /* Flex-Eigenschaft hinzufügen, um die Boxen flexibel zu machen */
  padding: 20px;
  margin: 5%;
  width: 45%;
  background-color: #b79966;
  text-align: left;
}

.image-container {
  max-width: 45%;
  position: absolute;
  top: 10%; /* Abstand von oben */
  right: 10%; /* Abstand von rechts */
}

.image-top-right {
  position: absolute;
  top: 10px; /* Abstand von oben */
  right: 10px; /* Abstand von rechts */
  width: 353px; /* Breite des Bildes */
  height: 411px; /* Höhe des Bildes */ /* 3531x4114 */
  border-radius: 5px; /* Abgerundete Ecken */
}

/* Section 3 */
.section3 {
  padding: 50px 20px;
  background-color: #b79966;
  color: black;
  text-align: center;
}

.text-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Hinzugefügt, um die Elemente oben auszurichten */
}

.text-block {
  flex: 1; /* Flex-Eigenschaft hinzufügen, um die Boxen flexibel zu machen */
  padding: 20px;
  margin: 5%;
  background-color: #b79966;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.text-block ul {
  list-style-type: none; /* Bullet Points entfernen */
  padding-left: 0; /* Linken Padding entfernen */
}

.text-block li {
  margin-bottom: 5%;
}

.projects {
  width: 75%;
}

.projects h2{
  text-align: center;
}

.text-container-sec2 {
  display: flex;
}

.text-block-sec2 {
  flex: 1; /* Flex-Eigenschaft hinzufügen, um die Boxen flexibel zu machen */
  padding: 20px;
  margin: 5%;
  background-color: #fff5cf;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.text-block-sec2 ul {
  list-style-type: none; /* Bullet Points entfernen */
}

.text-block-sec2 li {
  margin-bottom: 1rem;
}

.cv-icon {
  width: 200px; /* Breite des Icons */
  margin-right: 10px; /* Abstand zum Text */
  vertical-align: middle; /* Vertikale Ausrichtung */
}

.certificate-icon {
  width: 200px; /* Breite des Icons */
  margin-right: 10px; /* Abstand zum Text */
  vertical-align: middle; /* Vertikale Ausrichtung */
}

.education-entry {
  display: flex;
  align-items: center;
}

.education-image {
  width: 200px;
  margin-right: 10px;
}

.education-details {
  display: flex;
  flex-direction: column;
}

/* Allgemeine Stile für die Sektionen */
.section1, .section2, .section3 {
  position: relative;
  padding: 50px 20px;
  min-height: 400px; /* Mindesthöhe für die Sektionen */
}

/* Übergang von Section 1 zu Section 2 */
.section1::after {
  content: '';
  position: absolute;
  bottom: -50px; /* Höhe des Übergangs */
  left: 0;
  width: 100%;
  height: 100px; /* Höhe des Pseudo-Elements */
  background: #fff5cf; /* Hintergrundfarbe der nächsten Sektion */
  transform: skewY(-1.5deg); /* Schrägstellung */
  transform-origin: top right;
  z-index: 0; /* Unter den Inhalt der Sektion legen */
}

/* Übergang von Section 2 zu Section 3 */
.section2::after {
  content: '';
  position: absolute;
  bottom: -50px; /* Höhe des Übergangs */
  left: 0;
  width: 100%;
  height: 100px; /* Höhe des Pseudo-Elements */
  background: #b79966; /* Hintergrundfarbe der nächsten Sektion */
  transform: skewY(1.5deg); /* Schrägstellung */
  transform-origin: bottom left;
  z-index: 0; /* Unter den Inhalt der Sektion legen */
}



.menu-icon {
  width: 24px;
  height: 24px;
  color: black; /* Farbe des Icons sicherstellen */
  cursor: pointer; /* Zeiger ändern, um anzuzeigen, dass es klickbar ist */
}

.menu {
  position: absolute;
  top: 40px; /* Platzierung unter dem Icon */
  right: 10px;
  background-color: transparent;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.menu li:hover {
  background-color: rgba(0, 0, 0, 0.25);
}